WS_JWT_SECRET=
WS_JWT_ISSUER=
WS_JWT_AUDIENCE=

WS_ALLOWED_ORIGINS=

WS_MAX_MESSAGE_BYTES=
WS_RATE_LIMIT_PER_SEC=
WS_MAX_CONNECTIONS=
WS_IDLE_TIMEOUT_SECONDS=


WS_PORT_GO=

WS_DOTNET_API_URL=
WS_DOTNET_TIMEOUT_SECONDS=
WS_DOTNET_MAX_INFLIGHT=
WS_SESSION_TOKEN_TTL_SECONDS=
WS_SESSION_TOKEN_RATE_LIMIT_PER_SEC=
